@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

div.control-panel {
    padding: 20px;
    width: calc(30% - 40px);
    height: 100%;

    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    border-left: 1px solid black;
}

div.control-panel div {
    padding: 6px;
}

div.box {
    width: calc(200px - 24px);
    height: calc(200px - 24px);
    border-radius: 16px;

    user-select: none;

    margin: 12px;
    padding: 12px;
    float: left;
}

div.current-user {
    background-color: #4cb9b0;
}

div.add-user {
    vertical-align: top;
    border-radius: 16px;
    background: #4cb9b0;
    display: inline-flex;
    cursor: pointer;
}

div.add-user span {
    font-size: 40px;
    padding: 12px;
    margin: auto;
    color: white;
}

div.current-user.box span {
    font-size: 16px;
    text-align: center;
    width: 100%;
}

div.current-user.box span.box-username-text {
    text-align: center;
    display: inline-block;
    font-weight: 800;
    margin-bottom: 6px;
}

div.current-user.box span.box-time-text {
    color: black;

    margin-bottom: 6px;
    text-align: center;
    display: inline-block;
}

div.current-user.box button.box-control-button {
    background: white;
    color: black;
    border: none;
    font-size: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin: 4px 0;
    padding: 4px 0;
}

input[type=text] {
    width: 150px;
}

div.autocomplete {
    width: 150px;
}

ul.autocomplete-result-list {
    background: white;
    border: 1px solid black;
    margin-top: -4px;
    width: 150px;
}

ul.autocomplete-result-list li {
    list-style: none;
    margin-left: -40px;
    padding: 0 3px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

div.autocomplete {
    display: inline-block;
}

div.boxes {
    position: absolute;
    top: 0;
    left: 0;

    width: 70%;

    display: inline-block;
}

input[type=text], input[type=email], input[type=number] {
    margin: 6px 0;
    width: 150px;
    outline: none;
    display: inline-block;
}

button {
    width: 160px;
    cursor: pointer;
}
